body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f1f5f9;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button:focus, input:focus {
  outline: none;
  box-shadow: none !important;
}

.table th, .table td {
  vertical-align: middle !important;
}

.modal-backdrop {
  backdrop-filter: blur(2px);
}
